.servicesIntro {
    width: 100%;
    background-image: url("../../public/images/pattern-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 140px 0px;
}

.servicesWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.servicesWrapper h2 {
    color: var(--Body-Text, #333);
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    /* 151.515% */
}

@media screen and (max-width: 768px) {
    .servicesIntro {
        padding: 80px 0px;
    }

    .servicesWrapper h2 {
        font-size: 23px;
        line-height: 34px;
    }
}