.storyContainer {
    width: 100%;
    padding: 140px 0px;
    background: url("../../public/images/pattern-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.storyContainers {
    width: 100%;
    padding: 140px 0px;
    background: #Fff;
}

.storyContainer .storyWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.storyContainers .storyWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.storyText {
    width: 49%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.storyHeader {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.storyHeader>p {
    color: var(--accent-500, #DAA520);
    font-family: "Work Sans", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 147.368% */
}

.storyHeader>h2 {
    color: var(--Heading-Text, #0F1A20);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    /* 150% */
}

.storyBody {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.storyBody p {
    color: var(--Body-Text, #333);
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.req {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.req p {
    color: var(--Body-Text, #333);
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}