.formContainer {
    width: 100%;
    padding: 140px 0px;
    background: var(--Background, #F8F8F8);
}

.formCont {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.formBack {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.formBack p {
    color: var(--Heading-Text, #0F1A20);
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.formWrapper {
    width: 100%;
    display: flex;
}

.formFirst {
    width: 43%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.formFirst h2 {
    color: var(--neutral-300, #A8A8A8);
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    /* 147.826% */
}

.formFirst .active {
    color: var(--Heading-Text, #141414);
    font-weight: 700;
}

.formSecond {
    width: 57%;
    background-image: url("../../public/images/pattern-bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 48px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .formContainer {
        padding: 80px 0px;
    }

    .formCont {
        gap: 32px;
    }

    .formWrapper {
        flex-direction: column;
        gap: 40px;
    }

    .formFirst,
    .formSecond {
        width: 100%;
    }

    .formFirst h2 {
        font-weight: 400;
        font-size: 19px;
        line-height: 28px;
    }

    .formFirst .active {
        font-weight: 500;
    }

    .formSecond {
        padding: 40px 24px;
    }
}